.loginBack {
  width: 50%;
  background-image: url(../../assets/design/GraphicSide.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
