@import "./fonts/SFProDisplay/stylesheet.css";
@import "./fonts/Inter/stylesheet.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "SF Pro Display";
  overflow: hidden;
}

a,
button {
  color: inherit;
  text-decoration: none;
  font-family: "SF Pro Display";
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

main {
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
}

button,
a {
  cursor: pointer;
  outline: none;
}
